In [1]:
import pandas as pd

In [2]:
METADATA_FILE_PATH ='../data/E-MTAB-3321/raw/E-MTAB-3321.sdrf.txt'
COUNTS_FILE_PATH = '../data/E-MTAB-3321/raw/Goolam_et_al_2015_count_table.tsv'

In [3]:
df_metadata = pd.read_csv(METADATA_FILE_PATH, sep='\t')

In [4]:
df_metadata.columns

Index(['Source Name', 'Comment[ENA_SAMPLE]', 'Characteristics[organism]',
       'Characteristics[strain]', 'Characteristics[developmental stage]',
       'Characteristics[organism part]', 'Characteristics[cell type]',
       'Characteristics[division pattern]',
       'Characteristics[single cell well quality]', 'Characteristics[batch]',
       'Material Type', 'Protocol REF', 'Protocol REF.1', 'Protocol REF.2',
       'Extract Name', 'Material Type.1', 'Comment[LIBRARY_LAYOUT]',
       'Comment[LIBRARY_SELECTION]', 'Comment[LIBRARY_SOURCE]',
       'Comment[LIBRARY_STRAND]', 'Comment[LIBRARY_STRATEGY]',
       'Comment[NOMINAL_LENGTH]', 'Comment[NOMINAL_SDEV]',
       'Comment[single cell isolation]', 'Comment[library construction]',
       'Comment[end bias]', 'Comment[input molecule]', 'Comment[primer]',
       'Comment[spike in]', 'Comment[spike in dilution]',
       'Comment[spike sequence file]', 'Comment[spike concentration file]',
       'Protocol REF.3', 'Performer', 'Assay Name', 'Technology Type',
       'Comment[ENA_EXPERIMENT]', 'Scan Name', 'Comment[SUBMITTED_FILE_NAME]',
       'Comment[ENA_RUN]', 'Comment[FASTQ_URI]', 'Comment[SPOT_LENGTH]',
       'Comment[READ_INDEX_1_BASE_COORD]', 'Derived Array Data File',
       'Comment [Derived ArrayExpress FTP file]',
       'Factor Value[developmental stage]', 'Factor Value[division pattern]',
       'Factor Value[single cell identifier]'],
      dtype='object')

In [5]:
df_metadata.head()

,Source Name,Comment[ENA_SAMPLE],Characteristics[organism],Characteristics[strain],Characteristics[developmental stage],Characteristics[organism part],Characteristics[cell type],Characteristics[division pattern],Characteristics[single cell well quality],Characteristics[batch],...,Comment[SUBMITTED_FILE_NAME],Comment[ENA_RUN],Comment[FASTQ_URI],Comment[SPOT_LENGTH],Comment[READ_INDEX_1_BASE_COORD],Derived Array Data File,Comment [Derived ArrayExpress FTP file],Factor Value[developmental stage],Factor Value[division pattern],Factor Value[single cell identifier]
0,2cell_1_A,ERS1043823,Mus musculus,C57BL/6 x CBA,cleavage 2-cell,embryo,blastoderm cell,not applicable,OK,1,...,Goolam_et_al_2015_Batch1_Sample1_1.fq.gz,ERR1229132,ftp://ftp.sra.ebi.ac.uk/vol1/fastq/ERR122/002/...,200,101,Goolam_et_al_2015_count_table.tsv,ftp://ftp.ebi.ac.uk/pub/databases/microarray/d...,cleavage 2-cell,not applicable,2cell_1_A
1,2cell_1_A,ERS1043823,Mus musculus,C57BL/6 x CBA,cleavage 2-cell,embryo,blastoderm cell,not applicable,OK,1,...,Goolam_et_al_2015_Batch1_Sample1_2.fq.gz,ERR1229132,ftp://ftp.sra.ebi.ac.uk/vol1/fastq/ERR122/002/...,200,101,Goolam_et_al_2015_count_table.tsv,ftp://ftp.ebi.ac.uk/pub/databases/microarray/d...,cleavage 2-cell,not applicable,2cell_1_A
2,2cell_1_B,ERS1043824,Mus musculus,C57BL/6 x CBA,cleavage 2-cell,embryo,blastoderm cell,not applicable,OK,1,...,Goolam_et_al_2015_Batch1_Sample13_1.fq.gz,ERR1229133,ftp://ftp.sra.ebi.ac.uk/vol1/fastq/ERR122/003/...,200,101,Goolam_et_al_2015_count_table.tsv,ftp://ftp.ebi.ac.uk/pub/databases/microarray/d...,cleavage 2-cell,not applicable,2cell_1_B
3,2cell_1_B,ERS1043824,Mus musculus,C57BL/6 x CBA,cleavage 2-cell,embryo,blastoderm cell,not applicable,OK,1,...,Goolam_et_al_2015_Batch1_Sample13_2.fq.gz,ERR1229133,ftp://ftp.sra.ebi.ac.uk/vol1/fastq/ERR122/003/...,200,101,Goolam_et_al_2015_count_table.tsv,ftp://ftp.ebi.ac.uk/pub/databases/microarray/d...,cleavage 2-cell,not applicable,2cell_1_B
4,2cell_2_A,ERS1043825,Mus musculus,C57BL/6 x CBA,cleavage 2-cell,embryo,blastoderm cell,not applicable,OK,1,...,Goolam_et_al_2015_Batch1_Sample25_1.fq.gz,ERR1229134,ftp://ftp.sra.ebi.ac.uk/vol1/fastq/ERR122/004/...,200,101,Goolam_et_al_2015_count_table.tsv,ftp://ftp.ebi.ac.uk/pub/databases/microarray/d...,cleavage 2-cell,not applicable,2cell_2_A

In [6]:
df_metadata['Characteristics[developmental stage]'].value_counts()

Characteristics[developmental stage]
cleavage 4-cell     128
cleavage 8-cell      64
cleavage 2-cell      32
cleavage 16-cell     12
cleavage 32-cell     12
Name: count, dtype: int64

In [7]:
df_metadata['Characteristics[cell type]'].value_counts()

Characteristics[cell type]
blastoderm cell    248
Name: count, dtype: int64

In [8]:
df_metadata['Factor Value[single cell identifier]'].value_counts()

Factor Value[single cell identifier]
2cell_1_A       2
ME_4cell_6_C    2
8cell_2_D       2
8cell_2_C       2
8cell_2_B       2
               ..
ME_4cell_2_A    2
ME_4cell_1_D    2
ME_4cell_1_C    2
ME_4cell_1_B    2
32cell_F        2
Name: count, Length: 124, dtype: int64

In [9]:
counts_df = pd.read_csv(COUNTS_FILE_PATH, sep='\t')
counts_df

,2cell_1_A,2cell_1_B,2cell_2_A,2cell_2_B,2cell_3_A,2cell_3_B,ME_4cell_1_A,ME_4cell_1_B,ME_4cell_1_C,ME_4cell_1_D,...,EM_4cell_5_C,EM_4cell_5_D,EM_4cell_6_A,EM_4cell_6_B,EM_4cell_6_C,EM_4cell_6_D,ME_4cell_6_A,ME_4cell_6_B,ME_4cell_6_C,ME_4cell_6_D
ENSMUSG00000000001,165,79,124,41,107,167,84,70,28,42,...,63,98,25,21,58,63,109,82,33,43
ENSMUSG00000000003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000000028,722,547,481,219,808,483,221,280,158,222,...,164,223,188,139,242,162,186,284,409,218
ENSMUSG00000000031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000000037,58,33,22,34,68,27,0,9,5,10,...,10,8,9,0,5,0,12,13,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ERCC-00164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ERCC-00165,0,0,0,1,0,0,4,0,0,3,...,18,38,0,6,3,7,7,0,0,20
ERCC-00168,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
ERCC-00170,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,6,28,0,8,2,1
ERCC-00171,23,21,11,17,36,18,24,11,17,37,...,254,601,268,228,257,281,406,573,428,327

In [10]:
cells_by_genes = counts_df.T
cells_by_genes.to_csv('../data/E-MTAB-3321/raw/E-MTAB-3321.csv.gz', compression='gzip')